
.ipynb_checkpoints/04_linear_regression-checkpoint.ipynb
.ipynb_checkpoints/06_optimization_logistic_regression-checkpoint.ipynb
.ipynb_checkpoints/01_decision_trees_and_knn-checkpoint.ipynb
.DS_Store
lagrangian2.avi
lagrangian2
hw07.synctex.gz
hw07.log
hw07.aux
.ipynb_checkpoints/07_homework_svm-2-checkpoint.ipynb
hw07.tex
*.aux
*.log
*.gz
.ipynb_checkpoints/07_homework_soft-margin-svm-checkpoint.ipynb
.ipynb_checkpoints/07_homework_hard-margin-svm-checkpoint.ipynb
.ipynb_checkpoints/10_homework_dim_reduction-checkpoint.ipynb
faithful.txt
.ipynb_checkpoints/11_homework_clustering-checkpoint.ipynb
